<!DOCTYPE html>
<html>
<head>
    <title>
        Disc Golf App | Dashboard
    </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../css/dashboard.css" type="text/css">
</head>

<body>

<!-- 
This is the first draft of dashboard. This version is not fully responsive but it is working. 
-->

<div class="wrapper">
        <div class="one"><h2><a href="dashboard.html">Dashboard</a></h2>

            <ul>
                <li class="links"><a href="course.html">Courses</a></li>
                <li class="links"><a href="players.html">Players</a></li>
                <li class="links"><a href="#">Teams</a></li>
                <li class="links"><a href="login.html">Sign in!</a></li>
                <li class="links"><a href="registration.html">Sign up!</a></li>
            </ul>
        </div>

        <div class="li-o">
            <h2>Settings</h2>
            <ul>
                <li class="links"><a href="#">Profile</a></li>
                <li class="links"><a href="#">Logout</a></li>
            </ul>
        </div>

        <div class="two">
            <h1>Play</h1>
            <p>You can play single course or attend to competition.</p>
            <a href="course.html"><button>Single course</button></a>
            <a href="#"><button>Competition</button></a>
        </div>

        <div class="three"><p>Statistics</p>
            <h1>Here is some sweet statistics</h1>
        </div>

        <div class="four"><p>Previous rounds played</p>
        <ul><!-- Not ideal to separate rows like this. Switch to table. -->
            <li id="odd">Course 1</li>
            <li id="even">Course 2</li>
            <li id="odd">Course 3</li>
            <li id="even">Course 4</li>
            <li id="odd">Course 5</li>
        </ul>
        </div>

        <div class="five"><p>Played competitions</p>
        <ul><!-- Not ideal to separate rows like this. Switch to table. -->
            <li id="odd">Competition 1</li>
            <li id="even">Competition 2</li>
            <li id="odd">Competition 3</li>
            <li id="even">Competition 4</li>
            <li id="odd">Competition 5</li>
        </ul>

        </div>

      </div>


</body>
</html>