<!DOCTYPE html>
<html>
<head>
    <title>
        Disc Golf App | Dashboard
    </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../css/dashboard.css" type="text/css">
</head>

<body>

<!-- 
This is the first draft of the forms. This version is not fully responsive but it is working. 
-->

<div class="wrapper">
        <div class="one"><p>Header</p>

            <ul>
                <li class="links"><a href="login.html">Sign in!</a></li>
                <li class="links"><a href="registration.html">Sign up!</a></li>
            </ul>

        </div>

        <div class="two">Play
            <p>Let's go up in here, and start having some fun I get carried away with this brush cleaning. 
            As trees get older they lose their chlorophyll. 
            I was blessed with a very steady hand; and it comes in very handy when you're doing these little delicate things. 
            Life is too short to be alone, too precious. Share it with a friend.</p>
        </div>

        <div class="three"><p>Statistics</p>
            <h1>Here is some sweet statistics</h1>
        </div>

        <div class="four"><p>Previous rounds played</p>
        <ul><!-- Not ideal to separate rows like this. See CSS -->
            <li id="odd">Course 1</li>
            <li id="even">Course 2</li>
            <li id="odd">Course 3</li>
            <li id="even">Course 4</li>
            <li id="odd">Course 5</li>
        </ul>
        </div>

        <div class="five"><p>Played competitions</p>
        <ul>
            <li id="odd">Competition 1</li>
            <li id="even">Competition 2</li>
            <li id="odd">Competition 3</li>
            <li id="even">Competition 4</li>
            <li id="odd">Competition 5</li>
        </ul>

        </div>

      </div>


</body>
</html>