<!DOCTYPE html>
<html>
<head>
    <title>
        Disc Golf App | Select players
    </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- This stylesheet is shared with course.html-->
    <link rel="stylesheet" href="../css/course.css" type="text/css">
</head>

<body>

<!-- 
This is the first draft of the courses. This version is not fully responsive but it is working. 
-->

<div class="container">
    <div class="main">
        <h1>THIS PAGE IS TEMPORARY</h1>
        <h2>Content of this page <i>will be</i> changed to popup later on.</h2>
        <hr>
        <form>
            <h3>Search players</h3>
            <input type="text" placeholder="Name"> <input type="text" placeholder="Team"><br>
            <p>Available players</p>
            <!-- This is placeholder field and data. 
                Proper data comes later in development-->
            <select name="players-available" size="10">
                    <option value="p1">Sakari </option>
                    <option value="p2">Tommi</option>
                </select> 
            <p>Chosen players</p>
            <select name="players-selected" size="10">
                    <option value="p3">Maher</option>
                    <option value="p4">Tomi</option>
                </select> <br><br>
            <button>Play!</button>

        <button onclick="prevPage()">Return</button>
    </div>

</div>
<script>
    function prevPage() {
        window.history.back();
    }
</script>

</body>
</html>