<!DOCTYPE html>
<html>
<head>
    <title>
        Disc Golf App | Registration
    </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Temporarily shares same stylesheet with login form -->
    <link rel="stylesheet" href="../css/login.css" type="text/css">
</head>

<body>

<!-- 
This is the first draft of the forms. This version is not fully responsive but it is working. 
--> 

<div class="container">
    <div class="main">
        <form id="form">
            <p>First name:</p>
            <input type="text" name="firstn">
            <p>Last name:</p>
            <input type="text" name="lastn">
            <p>Email: </p>
            <input type="text" name="user">
            <p>Birthday:</p>
        <!-- Needs to be formatted to drop downs maybe -->
            <input type="date" name="bday">
        <!-- No SSL for password at this time -->
            <p>Password: </p>
            <input type="password" name="pw" id="login">
            <p>Password again:</p>
            <input type="password" name="pw" id="login"><br>
            
            <input type="submit" value="Create account">
            <input type="button" onclick="reset()" value="Reset">
        </form>

    </div>
</div>

<script>
function reset() {
    document.getElementById("form").reset();
}
</script>

</body>
</html>