<!DOCTYPE html>
<html>
<head>
    <title>
        Disc Golf App | Round Score Card 
    </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../css/roundScor.css" type="text/css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
</head>
<body class="wrapper">
	<!--First draft of Round Score card -->
	<div id="fairwayNum" class="one">
		<!-- Round indicator -->
  		<h3> Single round- <span id="courseName">Course Name</span> </h3>
  		<label>
  		  <input type="checkbox" class="radio" value="1" name="fooby[1][]" /> 1 
  		</label>
  		<label>
  		  <input type="checkbox" class="radio" value="1" name="fooby[1][]" /> 2 
  		</label>
  		<label>
  		  <input type="checkbox" class="radio" value="1" name="fooby[1][]" /> 3 
  		</label>
  		  <label>
  		  <input type="checkbox" class="radio" value="1" name="fooby[1][]" /> 4 
  		</label>  
  		<label>
  		  <input type="checkbox" class="radio" value="1" name="fooby[1][]" /> 5 
  		</label>  
  		<label>
  		  <input type="checkbox" class="radio" value="1" name="fooby[1][]" /> 6 
  		</label>  
  		<label>
  		  <input type="checkbox" class="radio" value="1" name="fooby[1][]" /> 7 
  		</label>  
  		<label>
  		  <input type="checkbox" class="radio" value="1" name="fooby[1][]" /> 8 
  		</label> 
  		<label>
  		  <input type="checkbox" class="radio" value="1" name="fooby[1][]" /> 9 
  		</label>  
  		<label>
  		  <input type="checkbox" class="radio" value="1" name="fooby[1][]" /> 10 
  		</label>  
  		<label>
  		  <input type="checkbox" class="radio" value="1" name="fooby[1][]" /> 11
  		</label>  
  		<label>
  		  <input type="checkbox" class="radio" value="1" name="fooby[1][]" /> 12
  		</label>  
  		<label>
  		  <input type="checkbox" class="radio" value="1" name="fooby[1][]" /> 13
  		</label>  
  		<label>
  		  <input type="checkbox" class="radio" value="1" name="fooby[1][]" /> 14
  		</label>  
  		<label>
  		  <input type="checkbox" class="radio" value="1" name="fooby[1][]" /> 15
  		</label>  
  		<label>
  		  <input type="checkbox" class="radio" value="1" name="fooby[1][]" /> 16
  		</label>  
  		<label>
  		  <input type="checkbox" class="radio" value="1" name="fooby[1][]" /> 17
  		</label>  
  		<label>
  		  <input type="checkbox" class="radio" value="1" name="fooby[1][]" /> 18
  		</label>  
	</div>
<!-- player's score panel-->
	<div class="two">
		<p id="fairNum"> Fairway Number <span id="playerNum">| Player Number</span> </p>
		<ul class="titles">
			<li>Throws count </li>
			<li>Deffirince to par </li>
			<li>Total deffirence </li>
		</ul>
		<ul>
			<li>
				<ul class="lists">Player 1
					<label>OB<input type="checkbox" value="1" id="ob1"></label>
					<input type="Number" name="Throwcount" id="thCount1">
					<input type="Number" name="deffirToBar" id="Dpar1">
					<input type="Number" name="totalDif" id="totalDif1">
				</ul>
			</li>
            <li>
				<ul class="lists"> Player 2
					<label>OB<input type="checkbox" value="1" id="ob2"></label>
					<input type="Number" name="Throwcount" id="thCount2">
					<input type="Number" name="deffirToBar" id="Dpar2">
					<input type="Number" name="totalDif" id="totalDif2">
				</ul>
			</li>
			<li>
				<ul class="lists">Player 3
					<label>OB<input type="checkbox" value="1" id="ob3"></label>
					<input type="Number" name="Throwcount" id="thCount3">
					<input type="Number" name="deffirToBar" id="Dpar3">
					<input type="Number" name="totalDif" id="totalDif3">
				</ul>
			</li>

		</ul>
	</div>
	<!-- the keypad -->
	<div id="kpad" class="three">

		<form name="keypad" id="keyPad">
			<input type="button" value="1" onclick="">
			<input type="button" value="2" onclick="">
			<input type="button" value="3" onclick="">
            <br>
            <input type="button" value="4" onclick="">
			<input type="button" value="5" onclick="">
			<input type="button" value="6" onclick="">
        	<br>
			<input type="button" value="7" onclick="">
			<input type="button" value="8" onclick="">
			<input type="button" value="9" onclick="">
			<br>
			<input type="button" value="0" onclick="">

			
		</form>
		<button type="button" id="prev" class="button">previous Fairway</button>
		<button type="button" id="res" class="button"> Results </button>
		<button type="button" id="next" class="button">Next fairway</button>
	</div>
		<script src="../js/roundScore.js"></script>
	</body>
	</html>