/*
This is the first draft of the forms. This version is not fully responsive but it is working. 

My vision is that every module is made separetly and they will be merged on build (when we add gulp or something else to site). 
Therefore it is easier to maintain the each site and it's styles and scripts.
*/

body {
    background: linear-gradient(#94BCC2, #69969C);   
    background-attachment: fixed; 
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

form {
    display: block;
    margin-top: 0em;
    text-align: center;
}

input[type=text],
input[type=password],
input[type=date] {
    border: none;
    border-bottom: 1px solid red;
    background-color: whitesmoke;
}
#login {
    margin-bottom: 1em;

}

button {
    border: 1px solid black;
    border-radius: 3px;
}

button:hover{
    border: 2px solid black;
    border-radius: 3px;
}

input[type=button],
input[type=submit] {
    border: 1px solid black;
    border-radius: 3px;
}

input[type=submit]:hover {
    border: 2px solid black;
    border-radius: 3px;
}

input[type=button]:hover {
    border: 2px solid black;
    border-radius: 3px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 50px;
    grid-template-rows: auto;
}

.main {
    margin-top: 15px;
    margin-left: 30%;
    margin-right: 30%;
    text-align: center;
    padding-bottom: 1em;
    background-color: whitesmoke;
    border-radius: 5px;
    border: 2px solid white;
}