* {
    box-sizing: border-box;
}

body {
    text-align: center;
    background: linear-gradient(#94BCC2, #69969C);   
    background-attachment: fixed; 
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    border: 2px solid black;
}
input [type:Number]{
    width: 20%;
    padding: 10px;
    border-radius: 6px;
}

li {
    list-style: none;
    width: 100%;
}

.titles{
    margin-left: 30%;
}
.titles > li {
    display: inline;
    margin-left: 7%;
 
}

.lists>input{
    width: 20%;
    margin-left: 10px;
}
.lists>label{
    margin-left: 15%;
}
/* THIS IS NOT IDEAL STYLE
FIX OR THINK SOMETHING ELSE */
/* styling the numeric keypad*/
#kpad {
    position: relative;
   padding: 10px 20px 50px 10px;
}

#keyPad > input {
  background: lightGray;
  width: 20%;
  font-size: 20px;
  font-weight: 600;
  border-radius: 7px;
  margin-left: 13px;
  margin-top: 10px;

}

#keyPad > input:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);

}
#keyPad > input:hover {
  background-color: #003300;
  color: white;
}
/*styling the buttons */
#prev{
    float: left;
    background-color: #c6958d;


}
#next{
    float: right;
    background-color: #c6958d;

}
#res{
    float: center;
    background-color: #467c33;
}
.button {
    width: 16%;
    border-radius: 6px;
    padding-top: 10px;
    padding-bottom: 20px;
    margin-top: 20px;
}

/* Grid system */

.wrapper {
    max-width: auto;
    margin: 0 auto;
}

.wrapper > div {
    border: 2px solid gray;
    border-radius: 5px;
    background-color: whitesmoke;
    padding: 1em;
    color: black;

}.wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

/* Header */
.one {
    grid-column: 1 / 13;
    grid-row: 1;
}
/* results panel */
.two {
    grid-column: 4 / 11;
    grid-row: 2  ;
}

/* keypad */
.three {
    grid-column: 4/11 ;
    grid-row: 3 ;
}

@media (max-width: 400px) {
    .wrapper {
      display: block;
    }
  }