body {
    width: 100%;
}
input[type=text] {
    width: 6em;
    border-radius: 6px;
}

.ButtonGreen {
	color: white;
    background-color: #6cba5b ;
    -webkit-border-radius : 8px ;
    margin-left: 40px
}
.ButtonBlue {
	color: white;
    background-color: #1d5ead ;
    -webkit-border-radius : 8px ;
    margin-left: 20px
}
.ButtonRed {
	color: white;
    background-color: #d33b30 ;
    -webkit-border-radius : 8px ;
    margin-left: 20px
}