.Admin {

}

div.Admin div.flex-grid {
    border: 0px solid red;
    display: flex;
    flex-direction: column;
}

div.Admin div.row {
    border: 0px solid rgb(0, 188, 212);
    display: flex;
    flex-direction: column;
}

@media (min-width: 768px) {
    div.Admin div.row {
        flex-direction: row;
    }
}

div.Admin div.col {
    flex: 1;
    border: 1px solid rgb(0, 188, 212);
    padding: 10px;
}

/*---------- Scorecard -----------------------------------*/

div.Scorecard {
    display: flex;
    flex-direction: column;
    border: 1px solid lime;
    justify-content: center;
    align-items: center;
}

div.Scorecard ul {
    border: 1px solid grey;
    text-align: center;
}

div.Scorecard li {
    float: left;
    list-style: none;
    margin: 5px;
    border: 0px solid grey;
}

div.Scorecard div.dot {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #777;
    text-align: center;  
}

div.Scorecard div.dot.active {
    background-color: lime;
}

div.Scorecard tr {
    border: 1px solid red;
}

div.Scorecard .score-input {
    max-width: 40px;
}

.display-block {
    display: block;
}

.foobar {
    border: 1px solid black;
}

.keyboard {
    border: 1px solid grey;
}

.keyboard-row {
    display: flex;
    flex-direction: row;
}

.keyboard-col {
    flex: 1;
    padding: 5px;
    border: 1px solid grey;
}




