body {
  width: auto;
  background-color:rgb(244, 244, 244);   
  background-attachment: fixed; 
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.loader:empty {
  position: absolute;
  top: calc(50% - 4em);
  left: calc(50% - 4em);
  width: 6em;
  height: 6em;
  border: 1.1em solid rgba(0,0,0,0.2);
  border-left: 1.1em solid rgb(75, 119, 214);
  border-radius: 50%;
  animation: load 1s infinite linear;
}

@keyframes load {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.bar {
  fill: green;
}

.highlight {
  fill: red;
}

.title {
  fill: blue;
  font-weight: bold;
}

.disclaimer {
  font-size: 16px;
}

.cardHeader {
  font-size: 50px;
  padding: 25px;

}

.headline {
  font-size: 24;
  padding-top: 16;
  margin-bottom: 12;
  font-weight: 400;
}

.slide {
  padding: 10;
}

form:required {
  background-color: #BBB;
}

input:required {
  box-shadow:none;
}

table{
  border: 1px solid rgb(209, 209, 209);
}

.last{
padding: 30px;
border: 0px;
}

th {
  text-transform: uppercase;
  padding: 3px;
}

td {
  padding: 10px;
}

.dash {
  border: 1px #BBB solid;
  border-radius: 5px;
  background-color: rgb(248, 248, 248);
}

.course-form-wrapper {
  border: 1px #BBB solid;
  border-radius: 5px;
  background-color: rgb(248, 248, 248);
}

.shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btnStyle {
  margin: 30px 7px 7px 7px;
}

.regForm {
  margin-top: 20px; 
  margin: 10px;
}

.ngStyle { /*New Game*/
  margin: 12;
}

.csStyle { /*CourseSelection*/
  text-align: right; 
  padding: 0px;
}

.paperStyle {
  height: 95%;
  width: 85%;
  text-align: center;
  display: inline-block;
}

.bottomStyle {
  position: fixed;
  z-index: 1;
  width: 100%;
  bottom: 0px;
}

@media only screen and (min-width: 300px) { 
  .container {
    width: 80%;
  }

  table {
    overflow-x: auto;
    width: 100%;
  }
  
  th {
    text-transform: uppercase;
    padding: 3px;
  }
  
  td {
    padding: 1px;
    width: 50%;
  }
  
}