body {
  width: auto;
  background-color:#FFF;   
  background-attachment: fixed; 
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.loader:empty {
  position: absolute;
  top: calc(50% - 4em);
  left: calc(50% - 4em);
  width: 6em;
  height: 6em;
  border: 1.1em solid rgba(0,0,0,0.2);
  border-left: 1.1em solid rgb(75, 119, 214);
  border-radius: 50%;
  animation: load 1s infinite linear;
}

@keyframes load {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.bar {
  fill: green;
}

.highlight {
  fill: red;
}

.title {
  fill: blue;
  font-weight: bold;
}

.disclaimer {
  font-size: 16px;
}

.cardHeader {
  font-size: 50px;
  padding: 25px;

}

.headline {
  font-size: 24;
  padding-top: 16;
  margin-bottom: 12;
  font-weight: 400;
}

.slide {
  padding: 10;
}

form:required {
  background-color: #BBB;
}

th {
  text-transform: uppercase;
  padding: 3px;
}

td {
  padding: 10px;
}


@media only screen and (min-width: 300px) { 
  .container {
    width: 80%;
  }

  table {
    overflow-x: auto;
    width: 80%;
  }
  
  th {
    text-transform: uppercase;
    padding: 3px;
  }
  
  td {
    padding: 1px;
    width: 50%;
  }
  
}