body {
  width: auto;
  background-color:#FFF;   
  background-attachment: fixed; 
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

table {
  margin: auto;
  width: 100%;
  padding: 5px;
}

td {
  margin-left: 20px;
  margin-right: 20px;
}

tr {
  margin: 20px;
}

th {
  margin: 20px;
}

/*
.col-12 {
  border-bottom: solid 1px #443367;
}
*/

.loader:empty {
  position: absolute;
  top: calc(50% - 4em);
  left: calc(50% - 4em);
  width: 6em;
  height: 6em;
  border: 1.1em solid rgba(0,0,0,0.2);
  border-left: 1.1em solid #000;
  border-radius: 50%;
  animation: load 1s infinite linear;
}

@keyframes load {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.bar {
  fill: green;
}

.highlight {
  fill: red;
}

.title {
  fill: blue;
  font-weight: bold;
}

.disclaimer {
  font-size: 16px;
}

.cardHeader {
  font-size: 50px;
  padding: 25px;
}

.headline {
  font-size: 24;
  padding-top: 16;
  margin-bottom: 12;
  font-weight: 400;
}

.slide {
  padding: 10;
}